.search-bar 
{
    flex:1;
    height:36px;
    font-size:16px;
    border:1px solid rgb(175, 175, 175);
    box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0px;
}
/* inset : side down blur colour(rgba(r g b transparent))*/
.search-bar::placeholder
{
    font-family:Roboto,Arial;
    font-size:16px;
    padding-left:5px;
}
.header
{
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    height:55px;
    background-color: white;
    border-bottom-width:1px ;
    border-bottom-style:solid;
    border-bottom-color: rgb(228,228,228) ;
    z-index:50;
}

.left-section
{
    justify-content: space-between;
    display:flex;
    align-items: center;
    width:150px;
}
.middle-section
{
    display:flex;
    align-items: center;
    flex:1;
    margin-left:66px;
    margin-right:40px;
    max-width: 550px;
}
.right-section
{
    margin-right:25px;
    display:flex;
    align-items: center;
    width:180px;
    justify-content: space-between;
    flex-shrink:0;
}

.menu
{
    height:25px;
    margin-left:18px;
}


.logo
{
    height:20px;
    margin-left:28px;
    margin-right:10px;
}

.search
{
    height:40px;
    width: 66px;
    border-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left:-1px ;
    margin-right: 10px;
}
.search-icon
{
    height:25px;
}
.voice
{
    height:40px;
    width:40px;
    margin-right:20px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245) ;
    border:none
}
.voice-icon
{
    height:24px;
}
.upload,
.apps
{
    height:25px;
}
.noti-icon-container
{
    position: relative;
    
}

.search .tooltip,
.voice .tooltip,
.uploads .tooltip,
.app .tooltip,
.noti-icon-container .tooltip
{
    font-size: Roboto,Arial;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: gray;
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom:-15px;
    opacity: 0;
    transition: opacity 0.15s ;
    pointer-events: none;
    white-space:nowrap;
}

.noti-icon-container .tooltip,
.search .tooltip,
.voice .tooltip
{
    bottom:-25px;
}

.search:hover .tooltip,
.voice:hover .tooltip,
.uploads:hover .tooltip,
.app:hover .tooltip,
.noti-icon-container:hover .tooltip
{
    opacity:1;
}

.search,
.voice
{
    position:relative;
}
.noti-icon
{   
    height:25px;
}
.noti-count
{
    position:absolute;
    top:-1px;
    right:-4px;
    background-color: rgb(200,0,0);
    color: aliceblue;
    border-radius:30px ;
    font-family:Roboto,Arial;
    font-size:12px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    border:1px;
    border-color: black;

}
.main
{

    height:30px;
    border-radius:25px;
}

