p
{
    font-family:Roboto,Arial;
    margin-top:0px;
    margin-bottom:0px;
        
}
body
{
    padding-top:75px;
    padding-left:100px;
    padding-right: 25px;
    height:3000px;
    margin:0px;
    background-color: rgba(254, 255, 255, 0.59);
}
